<footer id="footer">
    <section id="upper-footer">
        <div class="row">
            <div class="medium-8 columns author">
                <div class="row">
                    <div class="medium-4 large-6 columns text-center">
                        <img src="/images/me.jpg" alt="ME!">
                    </div>
                    <div class="medium-8 large-6 columns">
                        <div class="about-text">
                            <p>
                                Hi, I'm <strong>Danny Weeks</strong>.<br>
                            </p>
                            <p>
                                Web Developer, Gamer, Explorer and general geek.
                            </p>
                            <p>
                                <a class="secondary button hollow" href="/about-me">Would You Like To Know More?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="lower-footer">
        <div class="row">
            <div class="small-12 columns text-center">
                <p class="margin-top">
                    <a href="{{ site.github }}">
                        <i class="fa fa-github fa-2x"></i>
                    </a>

                    <a href="{{ site.twitter }}">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </p>
                <div class="row">
                    <div class="small-6 columns">
                        <p class="text-right">
                            <small>
                                &copy; {{ "now"|date("Y") }} {{ site.title }} <br/>
                            </small>
                        </p>
                    </div>
                    <div class="small-6 columns">
                        <p class="text-left">
                            <small>
                                <i class="fa fa-power-off"></i> Powered by <a href="https://sculpin.io">Sculpin</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>