<div class="reveal medium text-center" id="gallery-modal" data-reveal>
    <img src="">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>