$categories: (
                ("category", "#3498db", null, "\f075"),
                ("my-thoughts", null, null, "\f075"),
                ("web-dev", "#2c3e50", "#2ecc71", "\f120"),
                ("film-tv", null, null, "\f008"),
                ("photography", "#EB9532", null, "\f030"),
                ("projects", "#D24D57", null, "\f286"),
                ("gaming", "#141414", "#E9D460", "\f11b"),
);

@each $category in $categories {
  .#{nth($category, 1)}-icon {
    .background-icon {
      color: #{nth($category, 2)};
    }
    .main-icon {
      color: #{nth($category, 3)};
      &:before {
        content: "#{nth($category, 4)}";
      }
    }
  }
}