.margin-top{
  margin-top: 1rem;
}

article{
  h1, h2, h3, h4{
    color:$lightBackgroundColor;
  }
}

.article-card {
  border: 1px solid #d7d7d7;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 5px 0px #d7d7d7;

  .no-image{
    width: 100%;
    height: 40px;
    background-color: $lightBackgroundColor;
  }

  .card-content {
    background: #fff;
    margin: 1.25rem;

    .post-info {
      text-align: center;
    }

    h4 {
      color: #CF000F;
    }

    p {
      color: #757D75;
    }

    a i {
      font-weight: 300;
      color: #757D75;
      margin: 0 .5rem;
      padding: 5px 7px 5px 7px;
      border: 1px solid #757D75;
      border-radius: 50%;
    }

    .category-icon {
      border-radius: 50%;
      margin-top: -4rem;
    }

    .button{
      margin: 0;
    }
  }
}
