{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
{% import '_macros.twig' as m %}
<div class="row">
    <div class="medium-8 medium-centered columns">
        <article class="main" id="{{ page.title|slugify }}">
            <header class="text-center">
                <h1>
                    {{ page.title }}
                </h1>
                <p>
                    Posted
                    {% if page.categories %}
                        in
                        {% for category in page.categories %}
                            <a href="{{ site.url }}/blog/categories/{{ category|slugify }}">{{ m.deslug(category) }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    on {{ page.date|date('jS M Y') }}
                </p>
                {% if page.tags %}
                    <p class="tags">
                        Tags:
                        {% for tag in page.tags %}
                            {% include 'tag' with {'tag': tag} %}
                        {% endfor %}
                    </p>
                {% endif %}
            </header>
            {% if page.featured_image %}
            <div class="featured-image">
                <p>
                    <div class="text-center">
                        {% include 'featured-image' with {'post': page} %}
                    </div>
                    {% if page.featured_image_credit_text and page.featured_image_credit_url %}
                        <span class="featured-image-credit">
                            <small>
                                Image credit:
                                <a href="{{ page.featured_image_credit_url }}">
                                    {{ page.featured_image_credit_text }}
                                </a>
                            </small>
                        </span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {{ page.blocks.content|raw }}
            <hr/>
            <footer class="text-center">

            </footer>
        </article>
        {% if site.disqus.shortname %}
            {% include "disqus" %}
        {% else %}
            <p class="text-center">
                DISQUS COMMENTS HERE
            </p>
        {% endif %}
        <hr/>
        {% if page.previous_post or page.next_post %}
            {% include "pagination" with {"previous":page.previous_post, "previous_text":page.previous_post.title, "next":page.next_post, "next_text":page.next_post.title  } %}
        {% endif %}
    </div>
</div>

<div class="reveal large text-center" id="gallery-modal" data-reveal>
    <img src="">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endblock %}
