{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}

<div class="row">
    <div class="medium-8 medium-centered columns">
        <article class="main">
            <h1 class="text-center">
                {{ page.title }}
            </h1>
            <p class="text-center">
                Posted on {{ page.date|date('dS M, Y') }}
            </p>
            {% if page.featured_image%}
            <div class="featured-image text-center">
                <p>
                    <img src="/images/uploads/{{ page.date|date('Y/m') }}/{{ page.featured_image }}">
                </p>
            </div>
            {% endif %}

            {{ page.blocks.content|raw }}
            <hr/>
            <footer class="text-center">
                {% if page.categories %}
                <p class="categories">
                    Categories:
                    {% for category in page.categories %}
                    <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% if page.tags %}
                <p class="tags">
                    Tags:
                    {% for tag in page.tags %}
                        {% include 'tag' with {'tag': tag} %}
                    {% endfor %}
                </p>
                {% endif %}
            </footer>
        </article>

        {% include "disqus" %}
        <hr/>
        {% if page.previous_post or page.next_post %}
            {% include "pagination" with {"previous":page.previous_post, "previous_text":page.previous_post.title, "next":page.next_post, "next_text":page.next_post.title  } %}
        {% endif %}
    </div>
</div>

<div class="reveal large text-center" id="gallery-modal" data-reveal>
    <img src="">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endblock %}
