@charset "utf-8";

@import 'settings';
@import '../../source/components/foundation/scss/foundation';
@import '../../source/components/highlightjs/styles/monokai';

$fa-font-path: "/components/font-awesome/fonts";
@import '../../.sculpin/components/font-awesome/scss/font-awesome';
//@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

//@include motion-ui-transitions;
//@include motion-ui-animations;

@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/global';
@import 'partials/header';
@import 'partials/menu';
@import 'partials/footer';
@import 'partials/categories';
@import 'partials/blog/card-posts';
@import 'partials/spoilers';
@import 'partials/gallery';

.reveal, .close-button{
  outline: none;
}

pre code {
  overflow: scroll;
  margin-bottom: 25px;
}

.external-link {
  &:after {
    @extend .fa;
    content: "\f08e";
    font-size: 0.7em;
    position: absolute;
    color: darkgrey;
    display: none;
    margin-top: -2px;
    margin-left: -3px;
  }

  &:hover:after {
    display: inline-block;
  }
}

figcaption {
  font-style: italic;
  font-size: .9em;
  border-left: 2px solid $primary-color;
  padding-left: 10px;
  margin-top: 10px;
}

@import 'partials/_media-queries-base';