img[alt="spoiler"]{
  display: none;
}

.spoiler-image{
  cursor: pointer;
}

.spoiler{
  color: $body-font-color;
  background-color: $body-font-color;
  &:hover{
    background-color: white;
    color: $body-font-color;
  }
}